.ddMenu {
    list-style:none;
}
.ddMenu li 
{
    display: block;
    float:left;
    width: 8em; 
    margin: .2em;    
}
.ddMenu li li
{ 
    /* these are the drop down menu items */
    display:none;
    margin-left: 0;      
}
.ddMenu li ul
{ 
 padding-left: 0;    
}
.ddMenu li:hover li 
{
     display: block;
}
/* should remove color/font info */
