
<style>
.callout	{	margin: 1em; padding: 1em ; background: maroon; color: white;	 font-size: 1.1em; font-family: arial,sans-serif;  max-height: 200px; box-sizing: border-box;}
.callout p	{	margin: 0px;	max-width: 80%;}
.callout h2 { font-size: 2em; margin: .5em 0; }
</style>

<div class="callout">

<h2> Block Builder.</h2>
<p >
same class applied to two different elements and exculsions have to be at the lower level.
container of intro and intro inside of itself? same class applied to two different elements and exculsions have to be at the lower level.

</p>
</div>