
<table class="color-table"  border="1">

	<tr><td>

<tr>
<th align="left">Color Name</th>
<th align="left" width=>Color</th>
</tr>
<tr>
<td>AliceBlue</td>
<td bgcolor="#F0F8FF">&nbsp;</td></tr>
<tr>
<td>AntiqueWhite</a></td>
<td bgcolor="#FAEBD7">&nbsp;</td></tr>
<tr>
<td>Aqua</td>
<td bgcolor="#00FFFF">&nbsp;</td></tr>
<tr>
<td>Aquamarine</td>
<td bgcolor="#7FFFD4">&nbsp;</td></tr>
<tr>
<td>Azure</td>
<td bgcolor="#F0FFFF">&nbsp;</tr></tr>
	</tr>
	<tr><td>
	<tr>
<th align="left">Color Name</th>
<th align="left" width=>Color</th>
	</tr>
	
<tr>
<td>Beige</td>
<td bgcolor="#F5F5DC">&nbsp;</td></tr>
<tr>
<td>Bisque</td>
<td bgcolor="#FFE4C4">&nbsp;</td></tr>
<tr>
<td>Black</td>
<td bgcolor="#000000">&nbsp;</td></tr>
<tr>
<td>BlanchedAlmond</td>
<td bgcolor="#FFEBCD">&nbsp;</td></tr>
<tr>
<td>Blue</td>
<td bgcolor="#0000FF">&nbsp;</td></tr>
	</tr>
	<tr><td>
	<tr>
<th align="left">Color Name</th>
<th align="left" width=>Color</th>
	</tr>	
<tr>
<td>BlueViolet</td>
<td bgcolor="#8A2BE2">&nbsp;</td></tr>
<tr>
<td>Brown</td>
<td bgcolor="#A52A2A">&nbsp;</td></tr>
<tr>
<td>BurlyWood</td>
<td bgcolor="#DEB887">&nbsp;</td></tr>
<tr>
<td>CadetBlue</td>
<td bgcolor="#5F9EA0">&nbsp;</td></tr>
<tr>
<td>Chartreuse</td>
<td bgcolor="#7FFF00">&nbsp;</td></tr>
<tr>
<td>Chocolate</td>
<td bgcolor="#D2691E">&nbsp;</td></tr>
<tr>
<td>Coral</td>
<td bgcolor="#FF7F50">&nbsp;</td></tr>
<tr>
<td>CornflowerBlue</td>
<td bgcolor="#6495ED">&nbsp;</td></tr>
<tr>
<td>Cornsilk</td>
<td bgcolor="#FFF8DC">&nbsp;</td></tr>
<tr>
<td>Crimson</td>
<td bgcolor="#DC143C">&nbsp;</td></tr>
<tr>
<td>Cyan</td>
<td bgcolor="#00FFFF">&nbsp;</td></tr>
<tr>
<td>DarkBlue</td>
<td bgcolor="#00008B">&nbsp;</td></tr>
<tr>
<td>DarkCyan</td>
<td bgcolor="#008B8B">&nbsp;</td></tr>
<tr>
<td>DarkGoldenRod</td>
<td bgcolor="#B8860B">&nbsp;</td></tr>
<tr>
<td>DarkGray</td>
<td bgcolor="#A9A9A9">&nbsp;</td></tr>
<tr>
<td>DarkGreen</td>
<td bgcolor="#006400">&nbsp;</td></tr>
<tr>
<td>DarkKhaki</td>
<td bgcolor="#BDB76B">&nbsp;</td></tr>
<tr>
<td>DarkMagenta</td>
<td bgcolor="#8B008B">&nbsp;</td></tr>
<tr>
<td>DarkOliveGreen</td>
<td bgcolor="#556B2F">&nbsp;</td></tr>
<tr>
<td>Darkorange</td>
<td bgcolor="#FF8C00">&nbsp;</td></tr>
<tr>
<td>DarkOrchid</td>
<td bgcolor="#9932CC">&nbsp;</td></tr>
<tr>
<td>DarkRed</td>
<td bgcolor="#8B0000">&nbsp;</td></tr>
<tr>
<td>DarkSalmon</td>
<td bgcolor="#E9967A">&nbsp;</td></tr>
<tr>
<td>DarkSeaGreen</td>
<td bgcolor="#8FBC8F">&nbsp;</td></tr>
<tr>
<td>DarkSlateBlue</td>
<td bgcolor="#483D8B">&nbsp;</td></tr>
<tr>
<td>DarkSlateGray</td>
<td bgcolor="#2F4F4F">&nbsp;</td></tr>
<tr>
<td>DarkTurquoise</td>
<td bgcolor="#00CED1">&nbsp;</td></tr>
<tr>
<td>DarkViolet</td>
<td bgcolor="#9400D3">&nbsp;</td></tr>
<tr>
<td>DeepPink</td>
<td bgcolor="#FF1493">&nbsp;</td></tr>
<tr>
<td>DeepSkyBlue</td>
<td bgcolor="#00BFFF">&nbsp;</td></tr>
<tr>
<td>DimGray</td>
<td bgcolor="#696969">&nbsp;</td></tr>
<tr>
<td>DodgerBlue</td>
<td bgcolor="#1E90FF">&nbsp;</td></tr>
<tr>
<td>FireBrick</td>
<td bgcolor="#B22222">&nbsp;</td></tr>
<tr>
<td>FloralWhite</td>
<td bgcolor="#FFFAF0">&nbsp;</td></tr>
<tr>
<td>ForestGreen</td>
<td bgcolor="#228B22">&nbsp;</td></tr>
<tr>
<td>Gainsboro</td>
<td bgcolor="#DCDCDC">&nbsp;</td></tr>
<tr>
<td>GhostWhite</td>
<td bgcolor="#F8F8FF">&nbsp;</td></tr>
<tr>
<td>Gold</td>
<td bgcolor="#FFD700">&nbsp;</td></tr>
<tr>
<td>GoldenRod</td>
<td bgcolor="#DAA520">&nbsp;</td></tr>
<tr>
<td>Gray</td>
<td bgcolor="#808080">&nbsp;</td></tr>
<tr>
<td>Green</td>
<td bgcolor="#008000">&nbsp;</td></tr>
<tr>
<td>GreenYellow</td>
<td bgcolor="#ADFF2F">&nbsp;</td></tr>
<tr>
<td>HoneyDew</td>
<td bgcolor="#F0FFF0">&nbsp;</td></tr>
<tr>
<td>HotPink</td>
<td bgcolor="#FF69B4">&nbsp;</td></tr>
<tr>
<td>IndianRed </td>
<td bgcolor="#CD5C5C">&nbsp;</td></tr>
<tr>
<td>Indigo  </td>
<td bgcolor="#4B0082">&nbsp;</td></tr>
<tr>
<td>Ivory</td>
<td bgcolor="#FFFFF0">&nbsp;</td></tr>
<tr>
<td>Khaki</td>
<td bgcolor="#F0E68C">&nbsp;</td></tr>
<tr>
<td>Lavender</td>
<td bgcolor="#E6E6FA">&nbsp;</td></tr>
<tr>
<td>>LavenderBlush</td>
<td bgcolor="#FFF0F5">&nbsp;</td></tr>
<tr>
<td>LawnGreen</td>
<td bgcolor="#7CFC00">&nbsp;</td></tr>
<tr>
<td>LemonChiffon</td>
<td bgcolor="#FFFACD">&nbsp;</td></tr>
<tr>
<td>LightBlue</td>
<td bgcolor="#ADD8E6">&nbsp;</td></tr>
<tr>
<td>LightCoral</td>
<td bgcolor="#F08080">&nbsp;</td></tr>
<tr>
<td>LightCyan</td>
<td bgcolor="#E0FFFF">&nbsp;</td></tr>
<tr>
<td>LightGoldenRodYellow</td>
<td bgcolor="#FAFAD2">&nbsp;</td></tr>
<tr>
<td>LightGray</td>
<td bgcolor="#D3D3D3">&nbsp;</td></tr>
<tr>
<td>LightGreen</td>
<td bgcolor="#90EE90">&nbsp;</td></tr>
<tr>
<td>LightPink</td>
<td bgcolor="#FFB6C1">&nbsp;</td></tr>
<tr>
<td>LightSalmon</td>
<td bgcolor="#FFA07A">&nbsp;</td></tr>
<tr>
<td>LightSeaGreen</td>
<td bgcolor="#20B2AA">&nbsp;</td></tr>
<tr>
<td>LightSkyBlue</td>
<td bgcolor="#87CEFA">&nbsp;</td></tr>
<tr>
<td>LightSlateBlue</td>
<td bgcolor="#8470FF">&nbsp;</td></tr>
<tr>
<td>LightSlateGray</td>
<td bgcolor="#778899">&nbsp;</td></tr>
<tr>
<td>LightSteelBlue</td>
<td bgcolor="#B0C4DE">&nbsp;</td></tr>
<tr>
<td>LightYellow</td>
<td bgcolor="#FFFFE0">&nbsp;</td></tr>
<tr>
<td>Lime</td>
<td bgcolor="#00FF00">&nbsp;</td></tr>
<tr>
<td>LimeGreen</td>
<td bgcolor="#32CD32">&nbsp;</td></tr>
<tr>
<td>Linen</td>
<td bgcolor="#FAF0E6">&nbsp;</td></tr>
<tr>
<td>Magenta</td>
<td bgcolor="#FF00FF">&nbsp;</td></tr>
<tr>
<td>Maroon</td>
<td bgcolor="#800000">&nbsp;</td></tr>
<tr>
<td>MediumAquaMarine</td>
<td bgcolor="#66CDAA">&nbsp;</td></tr>
<tr>
<td>MediumBlue</td>
<td bgcolor="#0000CD">&nbsp;</td></tr>
<tr>
<td>MediumOrchid</td>
<td bgcolor="#BA55D3">&nbsp;</td></tr>
<tr>
<td>MediumPurple</td>
<td bgcolor="#9370D8">&nbsp;</td></tr>
<tr>
<td>MediumSeaGreen</td>
<td bgcolor="#3CB371">&nbsp;</td></tr>
<tr>
<td>MediumSlateBlue</td>
<td bgcolor="#7B68EE">&nbsp;</td></tr>
<tr>
<td>MediumSpringGreen</td>
<td bgcolor="#00FA9A">&nbsp;</td></tr>
<tr>
<td>MediumTurquoise</td>
<td bgcolor="#48D1CC">&nbsp;</td></tr>
<tr>
<td>MediumVioletRed</td>
<td bgcolor="#C71585">&nbsp;</td></tr>
<tr>
<td>MidnightBlue</td>
<td bgcolor="#191970">&nbsp;</td></tr>
<tr>
<td>MintCream</td>
<td bgcolor="#F5FFFA">&nbsp;</td></tr>
<tr>
<td>MistyRose</td>
<td bgcolor="#FFE4E1">&nbsp;</td></tr>
<tr>
<td>Moccasin</td>
<td bgcolor="#FFE4B5">&nbsp;</td></tr>
<tr>
<td>NavajoWhite</td>
<td bgcolor="#FFDEAD">&nbsp;</td></tr>
<tr>
<td>Navy</td>
<td bgcolor="#000080">&nbsp;</td></tr>
<tr>
<td>OldLace</td>
<td bgcolor="#FDF5E6">&nbsp;</td></tr>
<tr>
<td>Olive</td>
<td bgcolor="#808000">&nbsp;</td></tr>
<tr>
<td>OliveDrab</td>
<td bgcolor="#6B8E23">&nbsp;</td></tr>
<tr>
<td>Orange</td>
<td bgcolor="#FFA500">&nbsp;</td></tr>
<tr>
<td>OrangeRed</td>
<td bgcolor="#FF4500">&nbsp;</td></tr>
<tr>
<td>Orchid</td>
<td bgcolor="#DA70D6">&nbsp;</td></tr>
<tr>
<td>PaleGoldenRod</td>
<td bgcolor="#EEE8AA">&nbsp;</td></tr>
<tr>
<td>PaleGreen</td>
<td bgcolor="#98FB98">&nbsp;</td></tr>
<tr>
<td>PaleTurquoise</td>
<td bgcolor="#AFEEEE">&nbsp;</td></tr>
<tr>
<td>PaleVioletRed</td>
<td bgcolor="#D87093">&nbsp;</td></tr>
<tr>
<td>PapayaWhip</td>
<td bgcolor="#FFEFD5">&nbsp;</td></tr>
<tr>
<td>PeachPuff</td>
<td bgcolor="#FFDAB9">&nbsp;</td></tr>
<tr>
<td>Peru</td>
<td bgcolor="#CD853F">&nbsp;</td></tr>
<tr>
<td>Pink</td>
<td bgcolor="#FFC0CB">&nbsp;</td></tr>
<tr>
<td>Plum</td>
<td bgcolor="#DDA0DD">&nbsp;</td></tr>
<tr>
<td>PowderBlue</td>

<td bgcolor="#B0E0E6">&nbsp;</td></tr>
<tr>
<td>Purple</td>
<td bgcolor="#800080">&nbsp;</td></tr>
<tr>
<td>Red</td>

<td bgcolor="#FF0000">&nbsp;</td></tr>
<tr>
<td>RosyBrown</td>

<td bgcolor="#BC8F8F">&nbsp;</td></tr>
<tr>
<td>RoyalBlue</td>

<td bgcolor="#4169E1">&nbsp;</td></tr>
<tr>
<td>SaddleBrown</td>

<td bgcolor="#8B4513">&nbsp;</td></tr>
<tr>
<td>Salmon</td>

<td bgcolor="#FA8072">&nbsp;</td></tr>
<tr>
<td>SandyBrown</td>

<td bgcolor="#F4A460">&nbsp;</td></tr>
<tr>
<td>SeaGreen</td>

<td bgcolor="#2E8B57">&nbsp;</td></tr>
<tr>
<td>SeaShell</td>

<td bgcolor="#FFF5EE">&nbsp;</td></tr>
<tr>
<td>Sienna</td>

<td bgcolor="#A0522D">&nbsp;</td></tr>
<tr>
<td>Silver</td>

<td bgcolor="#C0C0C0">&nbsp;</td></tr>
<tr>
<td>SkyBlue</td>

<td bgcolor="#87CEEB">&nbsp;</td></tr>
<tr>
<td>SlateBlue</td>

<td bgcolor="#6A5ACD">&nbsp;</td></tr>
<tr>
<td>SlateGray</td>

<td bgcolor="#708090">&nbsp;</td></tr>
<tr>
<td>Snow</td>

<td bgcolor="#FFFAFA">&nbsp;</td></tr>
<tr>
<td>SpringGreen</td>

<td bgcolor="#00FF7F">&nbsp;</td></tr>
<tr>
<td>SteelBlue</td>

<td bgcolor="#4682B4">&nbsp;</td></tr>
<tr>
<td>Tan</td>

<td bgcolor="#D2B48C">&nbsp;</td></tr>
<tr>
<td>Teal</td>

<td bgcolor="#008080">&nbsp;</td></tr>
<tr>
<td>Thistle</td>

<td bgcolor="#D8BFD8">&nbsp;</td></tr>
<tr>
<td>Tomato</td>

<td bgcolor="#FF6347">&nbsp;</td></tr>
<tr>
<td>Turquoise</td>

<td bgcolor="#40E0D0">&nbsp;</td></tr>
<tr>
<td>Violet</td>

<td bgcolor="#EE82EE">&nbsp;</td></tr>
<tr>
<td>VioletRed</td>

<td bgcolor="#D02090">&nbsp;</td></tr>
<tr>
<td>Wheat</td>

<td bgcolor="#F5DEB3">&nbsp;</td></tr>
<tr>
<td>White</td>

<td bgcolor="#FFFFFF">&nbsp;</td></tr>
<tr>
<td>WhiteSmoke</td>

<td bgcolor="#F5F5F5">&nbsp;</td></tr>
<tr>
<td>Yellow</td>

<td bgcolor="#FFFF00">&nbsp;</td></tr>
<tr>
<td>YellowGreen</td>

<td bgcolor="#9ACD32">&nbsp;</td></tr>
</table>