<style>
body { margin: 0; }
.toolbar {
    font-size: 1.5em;
    line-height: 1.5em;
    white-space: nowrap;
    background: #f0f0f0;
    border-bottom: 1px solid rgba(0,0,0,.1);
    font: x-small verdana,arial,helvetica,sans-serif;
}

.toolbar a:link	{		
    color: #000;
    text-decoration:    none; 
    display: inline-block; 
    min-width: 40px;  
    font-size: 1.15em;
	padding: .5em;
    text-transform: uppercase;
	}
.toolbar a:visited { background: rgba(0,50,100,.2); }    
.toolbar a:hover { background: rgba(0,50,100,.2); }

</style>



<div class='toolbar'>
    <nav role="navigation">
    <a href="">Foo</a>
    <a href="">Topics</a>
    <a href="444">Topics</a>
    </nav>
</div>